In [1]:
from nav_EDA import nav_df, specs_df
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


nav_df.head()

/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/nav_EDA.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  nav_dfexp.reset_index(inplace=True)

,date,100033,100034,100037,100038,100041,100042,100043,100044,100046,...,153431,153432,153433,153434,153435,153438,153443,153444,153445,153451
0,06-Apr-2020,NaN,NaN,NaN,NaN,108.0230,516.1577,529.6844,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07-Apr-2020,304.87,65.080,12.85170,88.81800,108.0230,516.1685,529.6956,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-Apr-2020,305.53,65.220,12.68110,87.63900,108.0230,516.2044,529.7324,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09-Apr-2020,318.12,67.910,12.68620,87.67440,108.0230,516.2479,529.7770,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10-Apr-2020,315.98,67.455,12.69845,87.75905,108.0371,516.3153,529.8461,163.7154,100.2081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:

nav_equity_bm = nav_df[['date','135607']] # LIC MF Nifty 50 ETF
nav_equity_bm['date'] = nav_df['date']

nav_debt_bm = nav_df[['date','139430']] # SBI Nifty 10 yr Benchmark G-Sec ETF
nav_debt_bm['date'] = nav_df['date']

/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_34779/3523195683.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_equity_bm['date'] = nav_df['date']
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_34779/3523195683.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_debt_bm['date'] = nav_df['date']

In [3]:
specs_equity_df = specs_df[specs_df['sub_type'] == "Equity Scheme"] # Equity Schemes
specs_debt_df = specs_df[specs_df['sub_type'] == "Debt Scheme"] # Debt Schemes
specs_debt_df.head()

,Scheme Code,shceme_name,category,amc,main_type,sub_type,specific_type
0,145488,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Direct ...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
1,145489,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Direct ...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
2,145482,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Regular...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
3,145487,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Direct -...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
4,145483,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Regular ...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund

In [ ]:
nav_df.set_index('date', inplace=True) # Set date as index
nav_equity_df = nav_df[nav_df.columns.intersection(specs_equity_df['Scheme Code'].values)] # Equity Schemes
nav_debt_df = nav_df[nav_df.columns.intersection(specs_debt_df['Scheme Code'].values)] # Debt Schemes
nav_df.reset_index(inplace=True) # Reset index to date

In [7]:
nav_equity_pct_df = nav_equity_df
nav_debt_pct_df = nav_debt_df
# nav_equity_pct_df.set_index('date', inplace=True)
# nav_debt_pct_df.set_index('date', inplace=True)
for col in nav_equity_pct_df.columns:
    nav_equity_pct_df[col] = nav_equity_df[col].pct_change()
for col in nav_debt_pct_df.columns:
    nav_debt_pct_df[col] = nav_debt_df[col].pct_change()

/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_34779/3329557898.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_equity_pct_df[col] = nav_equity_df[col].pct_change()
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_34779/3329557898.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_debt_pct_df[col] = nav_debt_df[col].pct_change()

,100033,100034,100063,100064,100067,100068,100080,100156,100174,100175,...,153308,153309,153324,153325,153326,153327,153364,153365,153366,153367
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.002165,0.002151,0.011036,0.011051,0.005391,0.005817,0.003110,0.001799,0.026218,0.026215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.041207,0.041245,0.034101,0.034073,0.040601,0.035181,0.039909,0.037009,0.028979,0.028983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.006727,-0.006700,-0.002234,-0.002247,-0.004711,-0.004190,-0.007469,-0.004917,0.002252,0.002253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# sharpe ratio

rf = 0.05792/252  # risk-free rate per day
nav_quant_data = []
for columns in nav_equity_pct_df.columns:
    sum = nav_equity_pct_df[columns].sum() # sum of daily returns
    n = len(nav_equity_pct_df[columns]) - nav_equity_pct_df[columns].isnull().sum() # number of non-null days
    standard_deviation = nav_equity_pct_df[columns].std()  # standard deviation of daily returns
    sharpe_ratio = ((sum/n - rf)/ standard_deviation) * np.sqrt(252)  # annualized Sharpe ratio
    # nav_quant_data.append([columns, sharpe_ratio, sum/n - rf, standard_deviation])

    # Sortino ratio
    downside_diff = np.minimum(nav_equity_pct_df[columns] - rf, 0) #downside_diff
    downside_deviation = np.sqrt(np.mean(downside_diff ** 2)) # downside deviation
    sortino_ratio = ((sum/n - rf) / downside_deviation) * np.sqrt(252)  # annualized Sortino ratio

    # Beta
    covarinace_equity = nav_equity_pct_df[columns].cov(nav_equity_bm['135607'])  # covariance with benchmark
    variance_equity_benchmark = nav_equity_bm['135607'].var()  # variance of benchmark 
    beta_equity = covarinace_equity / variance_equity_benchmark  # beta of equity scheme

    # Alpha
    
       
# nav_quant_df = pd.DataFrame(nav_quant_data, columns=['scheme_code', 'sharpe_ratio', 'mean_daily_return', 'std_dev'])

In [ ]:
nav_quant_df.head(20)

In [ ]:
# plotting