In [1]:
from nav_EDA import nav_df, specs_df
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm


nav_df.head()

/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/nav_EDA.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  nav_dfexp.reset_index(inplace=True)

,date,100033,100034,100037,100038,100041,100042,100043,100044,100046,...,153431,153432,153433,153434,153435,153438,153443,153444,153445,153451
0,06-Apr-2020,NaN,NaN,NaN,NaN,108.0230,516.1577,529.6844,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07-Apr-2020,304.87,65.080,12.85170,88.81800,108.0230,516.1685,529.6956,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-Apr-2020,305.53,65.220,12.68110,87.63900,108.0230,516.2044,529.7324,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09-Apr-2020,318.12,67.910,12.68620,87.67440,108.0230,516.2479,529.7770,163.6940,100.1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10-Apr-2020,315.98,67.455,12.69845,87.75905,108.0371,516.3153,529.8461,163.7154,100.2081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:

nav_equity_bm = nav_df[['date','135607']] # LIC MF Nifty 50 ETF
nav_equity_bm['date'] = nav_df['date']
nav_equity_bm_pct = nav_df[['date','135607']]
nav_equity_bm_pct['date'] = nav_df['date']
nav_equity_bm_pct['135607'] = nav_equity_bm_pct['135607'].pct_change()
nav_equity_bm_pct.set_index('date', inplace=True)

/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3350411948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_equity_bm['date'] = nav_df['date']
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3350411948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_equity_bm_pct['date'] = nav_df['date']
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3350411948.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_equity_bm_pct['135607'] = nav_equity_bm_pct['135607'].pct_change()

In [3]:
nav_debt_bm = nav_df[['date','139430']] # SBI Nifty 10 yr Benchmark G-Sec ETF
nav_debt_bm['date'] = nav_df['date']
nav_debt_bm_pct = nav_df[['date','139430']]
nav_debt_bm_pct['date'] = nav_df['date']
nav_debt_bm_pct['139430'] = nav_debt_bm_pct['139430'].pct_change()
nav_debt_bm_pct.set_index('date', inplace=True)

/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3371915502.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_debt_bm['date'] = nav_df['date']
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3371915502.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_debt_bm_pct['date'] = nav_df['date']
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3371915502.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_debt_bm_pct['139430'] = nav_debt_bm_pct['139430'].pct_change()

In [4]:
specs_equity_df = specs_df[specs_df['sub_type'] == "Equity Scheme"] # Equity Schemes
specs_debt_df = specs_df[specs_df['sub_type'] == "Debt Scheme"] # Debt Schemes
specs_debt_df.head()

,Scheme Code,shceme_name,category,amc,main_type,sub_type,specific_type
0,145488,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Direct ...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
1,145489,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Direct ...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
2,145482,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Regular...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
3,145487,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Direct -...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund
4,145483,ADITYA BIRLA SUN LIFE OVERNIGHT FUND- Regular ...,Open Ended Schemes ( Debt Scheme - Overnight F...,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Debt Scheme,Overnight Fund

In [5]:
nav_df.set_index('date', inplace=True) # Set date as index
nav_equity_df = nav_df[nav_df.columns.intersection(specs_equity_df['Scheme Code'].values)] # Equity Schemes
nav_debt_df = nav_df[nav_df.columns.intersection(specs_debt_df['Scheme Code'].values)] # Debt Schemes
nav_df.reset_index(inplace=True) # Reset index to date

In [6]:
nav_equity_pct_df = nav_equity_df
nav_debt_pct_df = nav_debt_df
# nav_equity_pct_df.set_index('date', inplace=True)
# nav_debt_pct_df.set_index('date', inplace=True)
for col in nav_equity_pct_df.columns:
    nav_equity_pct_df[col] = nav_equity_df[col].pct_change()
for col in nav_debt_pct_df.columns:
    nav_debt_pct_df[col] = nav_debt_df[col].pct_change()

/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3329557898.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_equity_pct_df[col] = nav_equity_df[col].pct_change()
/var/folders/j3/btykbjss2l15b55qw91h85hc0000gn/T/ipykernel_47573/3329557898.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nav_debt_pct_df[col] = nav_debt_df[col].pct_change()

In [7]:
print(nav_equity_pct_df.columns)

Index(['100033', '100034', '100063', '100064', '100067', '100068', '100080',
       '100156', '100174', '100175',
       ...
       '153308', '153309', '153324', '153325', '153326', '153327', '153364',
       '153365', '153366', '153367'],
      dtype='object', length=2350)

In [8]:
print(nav_equity_bm_pct)
print(nav_equity_pct_df)

               135607
date
06-Apr-2020       NaN
07-Apr-2020       NaN
08-Apr-2020 -0.004974
09-Apr-2020  0.041542
10-Apr-2020 -0.006464
...               ...
31-Mar-2025 -0.000003
01-Apr-2025 -0.015001
02-Apr-2025  0.007185
03-Apr-2025 -0.003528
04-Apr-2025 -0.014885

[1305 rows x 1 columns]
               100033    100034    100063    100064    100067    100068  \
date
06-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
07-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
08-Apr-2020  0.002165  0.002151  0.011036  0.011051  0.005391  0.005817
09-Apr-2020  0.041207  0.041245  0.034101  0.034073  0.040601  0.035181
10-Apr-2020 -0.006727 -0.006700 -0.002234 -0.002247 -0.004711 -0.004190
...               ...       ...       ...       ...       ...       ...
31-Mar-2025 -0.000145 -0.000156 -0.000096 -0.000116  0.000000  0.000000
01-Apr-2025 -0.011434 -0.011403 -0.008827 -0.008833  0.000000  0.000000
02-Apr-2025  0.006849  0.006873  0.005421  0.005451  0.000000  0.000000
03-Apr-2025 -0.001010 -0.001020  0.001107  0.001089  0.000000  0.000000
04-Apr-2025 -0.025094 -0.025134 -0.024958 -0.024950  0.000000  0.000000

               100080    100156    100174    100175  ...    153308    153309  \
date                                                 ...
06-Apr-2020       NaN       NaN       NaN       NaN  ...       NaN       NaN
07-Apr-2020       NaN       NaN       NaN       NaN  ...       NaN       NaN
08-Apr-2020  0.003110  0.001799  0.026218  0.026215  ...       NaN       NaN
09-Apr-2020  0.039909  0.037009  0.028979  0.028983  ...       NaN       NaN
10-Apr-2020 -0.007469 -0.004917  0.002252  0.002253  ...       NaN       NaN
...               ...       ...       ...       ...  ...       ...       ...
31-Mar-2025 -0.000118  0.000000 -0.000102 -0.000102  ... -0.000193  0.000000
01-Apr-2025 -0.016279  0.000000 -0.005558 -0.005558  ... -0.007330 -0.007318
02-Apr-2025  0.006325  0.000000  0.007529  0.007529  ...  0.004566  0.004559
03-Apr-2025 -0.004315  0.000000  0.003593  0.003594  ...  0.003482  0.003573
04-Apr-2025 -0.018921  0.000000 -0.031734 -0.031734  ... -0.017251 -0.017223

               153324    153325    153326    153327    153364    153365  \
date
06-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
07-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
08-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
09-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
10-Apr-2020       NaN       NaN       NaN       NaN       NaN       NaN
...               ...       ...       ...       ...       ...       ...
31-Mar-2025  0.000000  0.000000  0.000000  0.000000 -0.000131 -0.000141
01-Apr-2025 -0.008704 -0.008712 -0.008704 -0.008712 -0.024826 -0.024837
02-Apr-2025  0.013659  0.014648  0.013659  0.014648  0.006630  0.006641
03-Apr-2025  0.004812  0.003850  0.004812  0.003850 -0.000953 -0.000963
04-Apr-2025 -0.021073 -0.021093 -0.021073 -0.021093 -0.027253 -0.027254

               153366    153367
date
06-Apr-2020       NaN       NaN
07-Apr-2020       NaN       NaN
08-Apr-2020       NaN       NaN
09-Apr-2020       NaN       NaN
10-Apr-2020       NaN       NaN
...               ...       ...
31-Mar-2025 -0.000141 -0.000131
01-Apr-2025 -0.024837 -0.024826
02-Apr-2025  0.006641  0.006630
03-Apr-2025 -0.000963 -0.000953
04-Apr-2025 -0.027254 -0.027253

[1305 rows x 2350 columns]

In [12]:
# mask = (nav_equity_bm_pct['135607'].notna()) & (nav_equity_pct_df['100033'].notna())
# mask = nav_equity_bm_pct['135607'].notna()
# print(nav_equity_bm_pct[mask])

# print(mask[mask == True].count())
print(nav_equity_pct_df[(nav_equity_bm_pct['135607'].notna()) & (nav_equity_pct_df['153308'].notna())]['153308'])

# for row in  range(len(nav_equity_bm_pct)):
#     i = nav_equity_bm_pct['135607'][row]
#     j = nav_equity_pct_df['100033'][row]  # Axis Mutual Fund - Axis Long Term Equity Fund - Direct Plan - Growth
#     if pd.notna(i) and pd.notna(j):
#         print(i, j)

date
04-Mar-2025    0.000000
05-Mar-2025    0.000699
06-Mar-2025    0.002693
07-Mar-2025    0.000796
10-Mar-2025   -0.003380
11-Mar-2025   -0.000898
12-Mar-2025   -0.000898
13-Mar-2025   -0.001799
14-Mar-2025    0.001802
17-Mar-2025    0.001799
18-Mar-2025    0.007481
19-Mar-2025    0.005049
20-Mar-2025    0.005615
21-Mar-2025    0.007738
24-Mar-2025    0.008651
25-Mar-2025   -0.003373
26-Mar-2025   -0.006188
27-Mar-2025    0.007394
28-Mar-2025    0.001642
31-Mar-2025   -0.000193
01-Apr-2025   -0.007330
02-Apr-2025    0.004566
03-Apr-2025    0.003482
04-Apr-2025   -0.017251
Name: 153308, dtype: float64

In [13]:
# sharpe ratio


rf = 0.05792/252  # risk-free rate per day
nav_quant_data = []
for columns in nav_equity_pct_df.columns:
    sum = nav_equity_pct_df[columns].sum() # sum of daily returns
    n = len(nav_equity_pct_df[columns]) - nav_equity_pct_df[columns].isnull().sum() # number of non-null days
    standard_deviation = nav_equity_pct_df[columns].std()  # standard deviation of daily returns
    sharpe_ratio = ((sum/n - rf)/ standard_deviation) * np.sqrt(252)  # annualized Sharpe ratio
    # nav_quant_data.append([columns, sharpe_ratio, sum/n - rf, standard_deviation])

    # Sortino ratio
    downside_diff = np.minimum(nav_equity_pct_df[columns] - rf, 0) #downside_diff
    downside_deviation = np.sqrt(np.mean(downside_diff ** 2)) # downside deviation
    sortino_ratio = ((sum/n - rf) / downside_deviation) * np.sqrt(252)  # annualized Sortino ratio

    # Beta
    covarinace_equity = nav_equity_pct_df[columns].cov(nav_equity_bm_pct['135607'])  # covariance with benchmark
    variance_equity_benchmark = nav_equity_bm_pct['135607'].var()  # variance of benchmark 
    beta_equity = covarinace_equity / variance_equity_benchmark  # beta of equity scheme

    # Alpha
    # Regression using statsmodels
    mask = (nav_equity_bm_pct['135607'].notna()) & (nav_equity_pct_df[columns].notna())
    X = sm.add_constant(nav_equity_bm_pct[mask]['135607'])  # independent variable (benchmark returns)
    # X = sm.add_constant(nav_equity_bm_pct['135607'])  # adds a constant (alpha)
    y = nav_equity_pct_df[mask][columns]
    model = sm.OLS(y, X).fit()
    model_summary = model.summary()
    
       
# nav_quant_df = pd.DataFrame(nav_quant_data, columns=['scheme_code', 'sharpe_ratio', 'mean_daily_return', 'std_dev'])

/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=10 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=10 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=10 observations were given.
  return hypotest_fun_in(*args, **kwds)
/Users/adityachawra/Downloads/Startup/DataBase/Data/MF/investment_options-master/amfi_data_fetcher/MF_venv/lib/python3.13/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=10 observations were given.
  return hypotest_fun_in(*args, **kwds)

In [14]:
model_summary

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 153367   R-squared:                       0.667
Model:                            OLS   Adj. R-squared:                  0.625
Method:                 Least Squares   F-statistic:                     16.02
Date:                Fri, 30 May 2025   Prob (F-statistic):            0.00394
Time:                        10:33:41   Log-Likelihood:                 35.965
No. Observations:                  10   AIC:                            -67.93
Df Residuals:                       8   BIC:                            -67.32
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0033      0.002     -1.356      0.212      -0.009       0.002
135607         1.0938      0.273      4.002      0.004       0.464       1.724
==============================================================================
Omnibus:                        1.608   Durbin-Watson:                   1.219
Prob(Omnibus):                  0.447   Jarque-Bera (JB):                0.999
Skew:                          -0.717   Prob(JB):                        0.607
Kurtosis:                       2.417   Cond. No.                         117.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# plotting